<div class="container">
<div class="row">
	<div class="col-md-6">
		<div class="widget">
			<div class="widget-head">
			  <div class="pull-left" height="80">
			  编辑设置变量		  </div>
			  <div class="widget-icons pull-right">
				<a href="#" class="wminimize"><i class="icon-chevron-up"></i></a> 
				<a href="#" class="wclose"><i class="icon-remove"></i></a>
			  </div>  
			  <div class="clearfix"></div>
			</div>  
			<div class="widget-content" >
			<div class="padd">
				<div class="form quick-post">
							  <div class="form-horizontal">                        
								  <div class="form-group">
									<form class="form-horizontal" method="post">
	 <input type="hidden" name="id" value="{$config.id}" /><div class="form-group">
		<label class="col-sm-2 control-label" for="name">名称</label>
		<div class="col-md-6">
			<input type="text" class="form-control" placeholder="name" name="name" id="name"  value="{$config.name}" />
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="value">值</label>
		<div class="col-md-6">
			<input type="text" class="form-control" placeholder="value" name="value" id="value"  value="{$config.value}" />
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="value">备注</label>
		<div class="col-md-6">
			<input type="text" class="form-control" placeholder="description" name="description" id="description"  value="{$config.description}" />
		</div>
	</div>
		<div class="form-group">
		<div class="col-md-2 col-md-offset-2">
			<input type="submit" value="提交" class="btn btn-default" />
		</div>
	</div>
</form>								  </div>              
							  </div>
				</div><!--end  paddad-->
			</div>
		</div>	
		</div>	
	</div>
</div>
</div>