<div class="container">
<div class="row">
	<div class="col-md-6">
		<div class="widget">
			<div class="widget-head">
			  <div class="pull-left" height="80">
			  编辑class			  </div>
			  <div class="widget-icons pull-right">
				<a href="#" class="wminimize"><i class="icon-chevron-up"></i></a> 
				<a href="#" class="wclose"><i class="icon-remove"></i></a>
			  </div>  
			  <div class="clearfix"></div>
			</div>  
			<div class="widget-content" >
			<div class="padd">
				<div class="form quick-post">
							  <div class="form-horizontal">                        
								  <div class="form-group">
									<form class="form-horizontal" method="post">
	 <input type="hidden" name="id" value="{$class.id}" /><div class="form-group">
		<label class="col-sm-2 control-label" for="name">名称</label>
		<div class="col-md-6">
			<input type="text" class="form-control" placeholder="name" name="name" id="name"  value="{$class.name}" />
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="father_class">上级分类</label>
		<div class="col-md-6">
			<input type="text" class="form-control" placeholder="father_class" name="father_class" id="father_class"  value="{$class.father_class}" />
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="type">类型</label>
		<div class="col-md-6">
			<input type="text" class="form-control" placeholder="type" name="type" id="type"  value="{$class.type}" />
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="content">内容</label>
		<div class="col-md-6">
			<input type="text" class="form-control" placeholder="content" name="content" id="content"  value="{$class.content}" />
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="keyword">关键词</label>
		<div class="col-md-6">
			<input type="text" class="form-control" placeholder="keyword" name="keyword" id="keyword"  value="{$class.keyword}" />
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="save_path">保存路径</label>
		<div class="col-md-6">
			<input type="text" class="form-control" placeholder="save_path" name="save_path" id="save_path"  value="{$class.save_path}" />
		</div>
	</div>
		<div class="form-group">
		<div class="col-md-2 col-md-offset-2">
			<input type="submit" value="提交" class="btn btn-default" />
		</div>
	</div>
</form>								  </div>              
							  </div>
				</div><!--end  paddad-->
			</div>
		</div>	
		</div>	
	</div>
</div>
</div>